{% extends "base.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <div>
        <form action="/viewpatients" id="Appointment" >
            <a href="/viewpatients"><button class="btn btn-primary" >View Appointment</button></a>
        </form>
    </div>
    <div><br></div>
    <div>
        <form   action="/reception_dashboard/Appointmentform" id="receptionist">
            <a href="/reception_dashboard/Appointmentform"><button class="btn btn-primary" >Add Appointment</button></a>
        </form>
    </div>
   

{% endblock %}